<div class="container-fluid">
  <div class="row">
    <nav class="col-sm-3 col-md-3 hidden-xs-down bg-faded sidebar">
        <div class="nav-header">
          <img src="assets/img/logo-blanco.png" class="top-img" width="60px"/>
          <h6 class="date">99/99/9999</h6>
          <h6 class="time">00:00 pm</h6>
        </div>
        <ul class="nav nav-pills flex-column">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/pages/home']">Principal</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/pages/operacion']">Operación</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/pages/alarmas']">Alarmas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/pages/auto-manual']">Auto/Manual</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/pages/tendencia']">Tendencia</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/pages/lo-pt']">LO_PT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/pages/hi-pt']">HI_PT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/pages/produccion']">Producción</a>
          </li>
        </ul>
    </nav>
  </div>
</div>
